body {
  font-family: "josenfin Sans", sans-serif;
  background-color: #011627;
  color: #fdfffc;
  text-align: center;
  border: 40px solid #2ec486;
  border-top: 0px;
  margin: 0px;
}

p {
  padding: 5%;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 1.5em;
  margin: 20px;
}

#sub {
  background: #ff9f1c;
  height: 80px;
  width: 150px;
  margin: 10px;
  font-size: 1.5em;
  border-radius: 25px;
}
